.app-sidebar__user-avatar {
    width: 48px;
    background: gray;
    padding: 6px;
}

.form_title{
    width: 50px; 
    position: absolute;
}

.headerRegister{
    background-color: #493D73;
}

.notBlock{
    display: none;
}

.form_title_bread{
    width: 150px;
}

@media screen and (max-width: 600px) {
    .form_title_bread{
        display: none;
    }
}

.form_title_login{
    width: 400px;
}

.login-content .login-box.flippedPass {
    min-height: 330px;
  }