.app-sidebar__user-avatar {
    width: 48px;
    background: gray;
    padding: 6px;
}

.form_title{
    width: 50px; 
    position: absolute;
}

.headerRegister{
    background-color: #493D73;
}

.notBlock{
    display: none;
}

.form_title_bread{
    width: 150px;
}

/*Estilos login*/
#divLoading{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: flex-start;
    padding: 100px;
	background: rgba(254,254,255, .97);
	z-index: 9999;
	display: none;
}
#divLoading img{
	width: 50px;
	height: 50px;
}

#divLoading2{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: flex-end;
    padding: 80px;
	z-index: 9999;
	display: none;
}

#divLoading2 img{
	width: auto;
	height: 200px;
}


@media screen and (max-width: 600px) {
    .form_title_bread{
        display: none;
    }
}

.form_title_login{
    width: 330px;
}

.login-content .login-box.flippedPass {
    min-height: 330px;
  }